<div class="card">
    <div class="card-body">
        <h1>About.</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt earum ullam vel blanditiis repellendus nobis laboriosam odit! Libero iure, mollitia possimus minima veniam assumenda ad commodi consectetur vitae aperiam nisi cupiditate in iste eaque necessitatibus aliquam asperiores fuga voluptatem magni.</p>
    </div>
</div>