<div class="jumbotron mt-4">
    <h1 class="display-4">Aplicación de Nodejs y Mongo.</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et quisquam, sint culpa nostrum autem dolorum reiciendis unde atque blanditiis quos consequuntur porro.</p>
    <a href="http://www.circulocorp.com" class="btn btn-primary btn-lg">Círculo Corp.</a>
</div>

