<div class="jumbotron mt-4">
    <h1 class="display-4">Mensajes y recordatorios.</h1>
    <p class="lead">Apoyo de mensajería a la operación.</p>
    <hr class="my-4">
    <p>El registro en la aplicación seguro. Si se pierde la contraseña, favor de solicitar al administrador la reposición.</p>
<!--    <a href="http://www.circulocorp.com" class="btn btn-primary btn-lg">Círculo Corp.</a> -->
</div>

